[Unit]
Description=Artifactory service
After=network.target

[Service]
Type=simple
User={{ artifactory_user }}
Group={{ artifactory_group }}
ExecStart={{ artifactory_home }}/app/bin/artifactory.sh
ExecStop={{ artifactory_home }}/app/bin/artifactory.sh stop
Restart=always

[Install]
WantedBy=multi-user.target
